$header-color: #3f51b5;
// フォントカラー
$fontBlack: #3e3e3e;
$fontWhite: #ffffff;
// キーカラー
$keyGrey: #f3f3f3;
$keyBlack: #3e3e3e;
$keyWhite: #ffffff;
$keyYellow: #ffaa3b;
$keyBlue: #4973ff;
$keyRed: #ff4646;

// 日本語フォントサイズ
$jFontH1Size: 30rem;
$jFontH2Size: 28rem;
$jFontH3Size: 20rem;
$jFontBaseSize: 16rem;
$jFontSmallSize: 12rem;
// 英語フォントサイズ
$eFontH1Size: 38rem;
$eFontH2Size: 36rem;
$eFontH3Size: 20rem;
$eFontBaseSize: 18rem;
$eFontSmallSize: 14rem;

// サイズ
$contentWidth: 1366px;
$cardSideWidth: 140px;
$newsSideWidthLeft: 259.5px;
$newsSideWidthRight: 268.5px;
$priceSideWidth: 139px;
$accessSideWidht: 283px;
$contactSideWidth: 283px;
// フォントファミリー
$fontFamily: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック Medium",
  "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
