<footer class="footer">
    <div class="footer__inner">
        <div class="footer__info">
            <div class="footer__sns">
                <a href=""><i class="fab fa-twitter faIcon"></i></a>
                <a href=""><i class="fab fa-facebook-square faIcon faFacebookIcon"></i></a>
            </div>
            <ul>
                <li><a href="">サイトマップ</a></li>
                <li><a href="">個人情報保護方針</a></li>
                <li><a href="">プライバシーポリシー</a></li>
            </ul>
        </div>

        <div class="footer__logo">
            <p>HANIWAMAN Corp.</p>
            <small>© Haniwaman Landing page Sample.</small>
        </div>
    </div>
</footer>