<header class="header">
    <div class="header__inner">
        <div class="header__logo">
            <h1>
                <img src="./img/logo@2x.png" alt="ヘッダーロゴ">
            </h1>
        </div>
        <nav class="header__nav globalNav">
            <ul class="header__globalNav__lists">
                <li><a class="header__globalNav__item header__navCurrent" id="news_link_js" href="#news">News</a>
                </li>
                <li><a class="header__globalNav__item" id="service_link_js" href="#service">Service</a></li>
                <li><a class="header__globalNav__item" id="results_link_js" href="#results">Results</a></li>
                <li><a class="header__globalNav__item" id="price_link_js" href="#price">Price</a></li>
                <li><a class="header__globalNav__item" id="comments_link_js" href="#comments">Comments</a></li>
                <li><a class="header__globalNav__item" id="faq_link_js" href="#faq">FAQs</a></li>
                <li><a class="header__globalNav__item" id="contact_link_js" href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="hamburger" id="js-hamburger">
            <span class="hamburger__line hamburger__line--1"></span>
            <span class="hamburger__line hamburger__line--2"></span>
            <span class="hamburger__line hamburger__line--3"></span>
        </div>
        <div class="black-bg" id="js-black-bg"></div>
    </div>
</header>